/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.preloader {
    background-color: #4C1F56;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
}

.center {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


#qrCode {
    margin: 15px;
}

.navbar-nav{
    float:right;
}
.navbar{
    min-height:70px;
}
.navbar-nav {
    padding-top: 25px;
    height: 100%;
}
.navbar-inverse {
    background-color: #4D2058;
    margin-bottom: unset;
    border-color: #ba355e;
    border-width: 0 0 2px;
}

.navbar-inverse .navbar-nav > li > a{
        color:#fff;
        font-weight:bold;
}
    .navbar-inverse .navbar-nav > li > a.active {
        color: #ba355e;
    }
.logo {
    width: 200px;
    height: 45px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ba355e;
}
.bg-ch {
    background-color: #4D2058;
}
.padd-15{
    padding:15px
}
.padd-20 {
    padding: 20px
}
.btn-started {
    margin-top: 10px;
    float: right;
    background: none;
    color: #ba355e;
    border: 2px solid #ba355e;
    border-radius: 0;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #a01f47;
    text-decoration: none;
}
.bg-gray {
    background: #e6e6e6;
}
.white {
    color: white
}
.footer-icon {
    width: 30px;
    height: 35px;
}
.mt-5{
    margin-top:5px;
}
.color-ch {
    color: #4d2058;
    font-weight: 600;
    position: absolute;
    margin-left: 10px;
    margin-top: 3px;
}
.social-icon {
    width: 25px;
    margin: 0 3px;
}
.copyright {
    padding: 15px;
    font-weight: 600;
    margin: 0;
}
.clearfix{
    margin:3em;
}
.Servicedetails {
    padding-left: 20px;
    padding-top: 50px;
    color: #4d2058;
    font-size: 18px;
}
.imgborder {
    padding: 5px;
    width: 24%;
    border: solid 1px;
    margin: 5px;
    border-color: #4d2058;
    float: left;
    text-align: center;
    height: 273px;
}
    .imgborder img {
        width: 100%;
        height:100%;
    }
    .service1 {
        padding-left: 20px;
    }
.internal {
    background-image: url('/images/OurWorks/Asset 73mdpi.png');
    background-size: 100%;
    width: 48.8%;
    height: 273px;
}
.btnFull {
    margin-top: 10px;
    background: none;
    color: #ba355e;
    border: 2px solid #ba355e;
    border-radius: 0;
    font-weight:bold;
}
.divcenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#backtotop {
    background-color: #4d2058;
    z-index: 999;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    float: right;
    border-radius: 50%;
    border: none;
}
.carousel-indicators .active {
    border: 1px solid #ba355e;
    background-color: #4d2058;
}
.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(77, 32, 88);
    border-radius: 10px;
}
.imgcarousel{
    width:120px;
}
.clt {
    float: left;
    padding: 20px;
    width: 280px;
}
.imgTeam {
    width: 220px;
    height: 340px;
}

.emp {
    color: #4d2058;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin: 5px;
}
.pos {
    color: #ba355e;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin: 5px;
}
.callicon{
    margin-left:40px;
}
.txtright {
    text-align: right;
}
.imgstar {
    margin-left: 15%;
    width: 46%;
}
@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
    .navbar-nav{
        padding-top:0px;
        float: none;
        text-align: center;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #ba355e;
        margin-top: 5px;
    }
    .logo {
        width: 150px;
    }
    .navbar-toggle {
        margin-top: 20px;
        background: #ba355e;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #ba355e;
    }
    h3, .h3 {
        font-size: 20px;
    }
    .divStarted{
        text-align:center;
    }
    .btn-started{
        float:none;
    }
    .callicon {
        margin-left: 0px;
    }
    .txtright {
        text-align:unset;
    }
    .Servicedetails {
        padding-left: 0px;
        padding-top: 15px;
        text-align: justify;
    }
    .ServiceTit {
        margin-right: 30px;
    }
    .internal{
        width:100%;
    }
    .imgborder {
        width: 100%;
    }
    #Stilly img {
        width: 100%;
    }
    .imgstar{
        width:90%;
    }
}
