@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="~/images/Asset 11mdpi.png" />
        </div>
        <div class="col-md-8">
            <img src="~/images/Asset 12mdpi.png" />
        </div>
    </div>
</div>
