@{
    ViewData["Title"] = "Home";
}

<div class="container">

    <div class="row">
        <img src="~/svg/Asset 12mdpi_animated.svg" class="animated rotateIn" style="width: 35%;float: right;" />
        <div class="col-md-4">
            <img src="/images/Asset 12mdpi.png" class="animated rotateIn" style="width: 75%;float: right;display: block;visibility: hidden;">
            <img src="~/images/Asset 11mdpi.png" style="width: 50%;" class="animated bounceInDown" />
        </div>

        @*<div class="col-md-8">
                <img src="~/images/Asset 12mdpi.png" style="width: 50%; float:right;" />
            </div>*@

    </div>
</div>
<script>
    document.getElementById("Home").className = "active";
</script>
