
@{
    ViewData["Title"] = "OurTeam";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4 animated slideInDown" >
            <img src="~/images/OurTeam/Asset 104ldpi.png" class="imgTeam" />
            <span class="emp">HATEM A. ABU TOUQ</span>
            <span class="pos">ART DIRECTOR</span>
        </div>
        <div class="col-md-4 animated slideInUp">
            <img src="~/images/OurTeam/Asset 105ldpi.png" class="imgTeam" />
            <span class="emp">NOUR ABU BAQI</span>
            <span class="pos">PROJECTS MANAGER</span>
        </div>
        <div class="col-md-4 animated slideInDown">
            <img src="~/images/OurTeam/Asset 103ldpi.png" class="imgTeam" />
            <span class="emp">RANIA NASR</span>
            <span class="pos">PUBLIC RELATIONS</span>
        </div>
    </div>
    <div class="clearfix"></div>
        <div class="row text-center">
            <div class="col-md-4 animated fadeIn">
                <img src="~/images/OurTeam/ali.jpg" class="imgTeam"  />
                <span class="emp">ALI MOHAMMED</span>
                <span class="pos">PRODUCTION OFFICER</span>
            </div>
            <div class="col-md-4 animated fadeInDown">
                <img src="~/images/OurTeam/Asset 103ldpi.png" class="imgTeam" />
                <span class="emp">NOUR ABU BAQI</span>
                <span class="pos">PROJECTS MANAGER</span>
            </div>
            <div class="col-md-4 animated fadeIn">
                <img src="~/images/OurTeam/Asset 103ldpi.png" class="imgTeam" />
                <span class="emp">RANIA NASR</span>
                <span class="pos">PUBLIC RELATIONS</span>
            </div>
    </div>
</div>


<script>
    document.getElementById("OurTeam").className = "active";
</script>