@{
    ViewData["Title"] = "OurWorks";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="imgborder">
                <img src="~/images/OurWorks/Asset 78mdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="imgborder">
                <img src="~/images/OurWorks/Asset 75mdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="imgborder">
                <img src="~/images/OurWorks/Asset 76mdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="imgborder" >
                <img src="~/images/OurWorks/Asset 77mdpi.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="imgborder">
                <img src="~/images/OurWorks/Asset 79mdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="imgborder">
                <img src="~/images/OurWorks/Asset 80mdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="imgborder">
                <img src="~/images/OurWorks/Asset 78mdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="imgborder">
                <img src="~/images/OurWorks/Asset 74mdpi.png" />
            </div>
        </div>
    </div>
</div>
