@{
    ViewData["Title"] = "OurWorks";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <img src="~/images/OurWorks/Asset 78hdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/images/OurWorks/Asset 75hdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/images/OurWorks/Asset 76hdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/images/OurWorks/Asset 77hdpi.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <img src="~/images/OurWorks/Asset 79hdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/images/OurWorks/Asset 80hdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/images/OurWorks/Asset 78hdpi.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="~/images/OurWorks/Asset 74hdpi.png" />
            </div>
        </div>
    </div>
</div>
